.blog-header{
    padding: 40px 0;
}

.blog-header-title{
    color: #9c9ca6;
    font-size: 3.2em;
}

.direction{
    padding-top: 10px;
}

.direction a{
    color: #212558;
    font-weight: 500;
}

.direction span{
    margin-right: 15px;
}

.direction span:nth-child(2) a{
    color: #00b4da!important;
    transition: .3s;
}

.direction span:nth-child(4) a{
    color: #00b4da!important;
    transition: .3s;
}

.direction span:nth-child(2) a:hover{
    color: #ffc10d!important;
}

.direction span:nth-child(4) a:hover{
    color: #ffc10d!important;
}

.blog-item .post-image{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.blog-item .post-meta{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin: 25px 0;
    color: #9c9ca6;
}

.blog-item .post-meta .post-author:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 1.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.blog-item .post-meta .post-date:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 1.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.blog-item .post-meta .post-meta-item a{
    cursor: pointer;
    transition: .2s;
}

.blog-item .post-meta .post-author a{
    color: #00b4da;
}

.blog-item .post-meta .post-author a:hover{
    color: #ffc10d!important;
}

.blog-item .post-meta .post-meta-item a:hover{
    color: #00b4da;
}

.blog-item .post-content{
    margin: 1em 0;
    color: #84848c;
}

.sidebar-inner {
    background-color: #f7f8f8;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px;
}

.sidebar-inner-title{
    color: #212558;
    font-weight: 700;
}

.sidebar-inner .sidebar-post-item img{
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

.sidebar-post-item{
    margin: 30px 0;
}

.sidebar-post-title{
    font-size: 18px;
    font-weight: 600;
    color: #212558;
    transition: .3s;
}

.sidebar-post-title:hover{
    color: #00b4da;
}

.sidebar-post-date{
    font-size: 13px;
    color: #9c9ca6;
    font-weight: 500;
}

.blog-social-posts{
    padding: 35px 0;
}

.blog-social-posts .nav{
    float: right;
}

.blog-social-posts a{
    font-size: 1.3em;
}

.blog-social-posts a .ion-social-twitter{
    color: #55acee;
    transition: .2s;
}

.blog-social-posts a .ion-social-twitter:hover{
    opacity: .8;
}

.blog-social-posts a .ion-social-facebook{
    color: #3b5998;
    transition: .2s;

}

.blog-social-posts a .ion-social-facebook:hover{
    opacity: .8;
}

.blog-social-posts a .ion-social-instagram{
    color: #E4405F;
    transition: .2s;

}

.blog-social-posts a .ion-social-instagram:hover{
    opacity: .8;
}

.posts-comments-header{
    margin: 40px 0;
    color: #212558;
}

.comment-detail{
    position: relative;
    margin: 20px auto;
}

.comment-info{
    color: #212558;
    margin-bottom: 20px;
}

.comment-info p{
    color: #84848c;
    font-size: 14px;
    font-weight: 500;
}

.comment-author{
    color: #212558;
    font-weight: 600;
    font-size: 1.1em;
    text-decoration: none;
}

.replies {
    margin-left: 60px;
}


details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}

.reply-form textarea {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}

details.comment summary::-webkit-details-marker {
    display: none;
}

.btn-reply-comment{
    color: #00b4da;
    font-weight: 500;
}

.btn-reply-comment:hover{
    color: #ffc10d;
}

.form-input-comment{
    margin: 20px 0;
}

.form-input-comment .input-comment{
    border-radius: 20px;
    padding: 5px 20px;
}

.actions-comment button{
    border-radius: 20px;
}




