.blog-main>img{
    width: 100%;
    height: auto;
}

.blog-header{
    padding: 40px 0;
}

.blog-header-title{
    color: #9c9ca6;
    font-size: 3.2em;
}

.direction{
    padding-top: 10px;
}

.direction a{
    color: #212558;
    font-weight: 500;
}

.direction span{
    margin-right: 15px;
}

.direction span:nth-child(1) a{
    color: #00b4da;
    transition: .3s;
}

.direction span:nth-child(1) a:hover{
    color: #ffc10d;
}

.blog-item{
    margin: 40px 0;
}

.blog-item .post-image{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.blog-item .post-image .mask{
    content: ' ';
    background-color: rgba(0,180,218,0.75);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out;

}

.blog-item .post-image:hover .mask{
    opacity: 1;
    background-color: rgba(0,180,218,0.75);
}

.blog-item .post-image .post-icons{
    position: absolute;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.blog-item .post-image .post-icons span{
    background-color: #fff;
    position: absolute;
    z-index: 102;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all ease .5s;
    opacity: 0;
}

.blog-item .post-image:hover .post-icons span:first-child{
    margin-left: -13px;
    opacity: 1;
    display: inline-block;
}

.blog-item .post-image:hover .post-icons span{
    opacity: 1;
    display: inline-block;
}

.blog-item .post-image:hover .post-icons span:last-child{
    margin-left: 13px;
    opacity: 1;
    display: inline-block;
}

.blog-item .post-title{
    margin: 20px 0;
}

.blog-item .post-title a{
    color: #212558;
    height: 20px;
    transition: .2s;
}

.blog-item .post-title a:hover{
    color: #00b4da;
}

.blog-item .post-meta{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    color: #9c9ca6;
}

.blog-item .post-meta .post-author:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 1.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.blog-item .post-meta .post-date:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 1.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.blog-item .post-meta .post-meta-item a{
    cursor: pointer;
    transition: .2s;
}

.blog-item .post-meta .post-author a{
    color: #00b4da;
}

.blog-item .post-meta .post-author a:hover{
    color: #ffc10d!important;
}

.blog-item .post-meta .post-meta-item a:hover{
    color: #00b4da;
}

.blog-item .post-content{
    margin-top: 1em;
    color: #84848c;
}

.blog-item .post-content-inner .text-content{
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-item .more-click{
    color: #fff;
    font-size: 1em;
    background-color: #00b4da;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    transition: .2s;
    border-radius: 50px;
}

.blog-item .more-click:hover{
    color: #fff;
    background-color: #ffc10d;
}

.sidebar-inner {
    background-color: #f7f8f8;
    margin: 40px 0;
    border-radius: 5px;
    padding: 20px;
}

.sidebar-inner-title{
    color: #212558;
    font-weight: 700;
}

.sidebar-inner .sidebar-post-item img{
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

.sidebar-post-item{
    margin: 30px 0;
}

.sidebar-post-title{
    font-size: 18px;
    font-weight: 600;
    color: #212558;
    transition: .3s;
}

.sidebar-post-title:hover{
    color: #00b4da;
}

.sidebar-post-date{
    font-size: 13px;
    color: #9c9ca6;
    font-weight: 500;
}

.card-tools{
    /*float: right;*/
    padding:20px 0 0 0;
}

.input-search{
    position: relative;
    justify-content: flex-end;
}

.input-search input{
    background-color: #FAF6F3 !important;
    border: none;
    padding-left: 40px;
    border-radius: 16px!important;
    /*max-width: 80%;*/
}

.input-search button{
    color: #818489;
    border: none;
    background-color: unset;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 10;
    font-size: 22px;
}

.pagination{
    justify-content: center;
    padding: 40px 0;
}

.page-item{
    font-weight: 500!important;
}

.page-item.disabled .page-link{
    background-color: #eee;
}

.page-item .page-link{
    border: none;
    padding: 10px 20px!important;
    background-color: #eee;
    color: #6c757d;
    transition: .2s ease;
}

.page-item.active .page-link{
    background-color: #f1c40f;
}

.page-link-previous{
    letter-spacing: 2px;
    padding-right: 35px!important;
    border-top-left-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
}

.page-link-next{
    letter-spacing: 2px;
    border-top-right-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.page-link:hover{
    background-color: #00b4da;
    color: #fff;
}

.page-link:focus{
    box-shadow: none;
}
