.card-header{
    padding: 1.48rem 1.25rem;
}

.card{
    position: relative;
    background-color: #FAF6F3;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.card-title{
    color: rgb(107, 114, 128);
    font-weight: 500;
}

.content-header-left{
    position: relative;
}

.content-header-left h1{
    padding-left: 40px;
}

.button-back{
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -22px;
    color: #fff;
    font-size: 2em;
}

#img_tag{
    width: 100%;
    height: auto;
    border-radius: 5px
}

.form-image{
    position: relative;
    transition: .3s;
}

.form-image .ion-upload{
    font-size: 5em;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -40px;
    opacity: 0;
    transition: .5s;
}

.form-image:hover{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    transform: scale(.98);
}

.form-image:hover .ion-upload{
    opacity: 1;
}

.input-post-image{
    top: 0;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.form-group{
    margin-bottom: 2.2rem;
    position: relative;
}

.form-group .invalid-feedback{
    position: absolute;
}

.form-group .form-control{
    border: 1px solid #ccc;
    background-color: transparent;
    transition: .2s;
}

.form-group .form-control:hover{
    border-color: #000;
}

.form-group .form-control:focus{
    border-color: #68C8D5;
}

.form-group .form-label{
    position: absolute;
    color: #ccc;
    font-weight: 400!important;
    font-size: 1em;
    top: 50%;
    transform: translateY(-50%);
    left: 0.8rem;
    user-select: none;
    pointer-events: none;
    transition: .3s;
}

.form-group .form-control:not(:placeholder-shown) + .form-label,
.form-group .form-control:focus + .form-label{
    top: -5px!important;
    padding: 0 5px;
    display: inline-block;
    background-color: #FAF6F3;
    font-size: .9rem;
    color: #68C8D5;
}

.button-form{
    position: absolute;
    top: -80px;
    right: 0;
    background-color: #FED441;
    padding: 0 20px;
    border-radius: 20px;
    transition: .2s;
}

.button-form:hover{
    background-color: #FDB91C;
}


