.content-wrapper{
    position: relative;
    background-color: #fff!important;
}

.content-header{
    padding: 44px .5rem;
}

.bgr-head-list{
    background: linear-gradient(to right, #3AA7BA 0%, #68C8D5 100%);
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
}

.table-form thead th{
    font-weight: 500;
    color: #0a0e14bf;
    padding: 20px;
    background-color: #fff;
}

.table td, .table th {
    vertical-align: inherit !important;
}

.table-form td{
    color: #67757c;
    padding: 15px 20px;
}

.table-form td .edit{
    color: #17a2b8b8;
    font-size: 22px;
}

.table-form td .delete{
    color: #ff5c6c;
    font-size: 22px;
}

.table-form td .detail{
    color: #24d2b5 !important;
}

.input-search{
    position: relative;
}

.input-search input{
    background-color: #FAF6F3 !important;
    border: none;
    padding-left: 40px;
    border-radius: 16px!important;
}

.input-search button{
    color: #818489;
    border: none;
    background-color: unset;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 10;
    font-size: 22px;
}

.action-header button{
    border-radius: 50%;
    float: right;
    background-color: #FED441;
    color: #fff;
}

.content-main{
    padding: 0 10px!important;
}

.table-style{
    position: relative;
    padding: 0;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    background-color: #FAF6F3;
}

.card-tools{

}

.table-form img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


