.saveMoney{
    margin-top: 40px;
    text-align: center;
}
.saveMoney_01{
    color: white;
    background-color: #00a87d;
    width: 250px;
    margin-left: 150px;
    height: 100px;
    padding-top: 30px;
    border-radius: 20px;

}
.saveMoney_01_01{
    text-decoration:none;
    color: white;
}
.saveMoney_01_01:hover{
    color: yellow ;
}
