body{
    color: #84848c!important;
}

.banner-header{
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("../imgs/phong.jpg");
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 70%;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    visibility: inherit;
    z-index: 20;
}

.banner-image img{
    width: 500px;
    height: auto;
    top: 50px;
    right: 100px;
    position: absolute;
    animation: banner-image 1s linear;
}

.banner-text{
    top: 50px;
    max-width: 797px;
    position: absolute;
}

.banner-text-header{
    font-weight: 700;
    font-size: 4.2em;
    animation: banner-text-header 2s linear;
}

.banner-text-footer{
    margin: 20px 0;
    font-weight: 400;
    animation: banner-text-footer 3s linear;
}

.banner-register{
    position: absolute;
    background: linear-gradient(rgb(25, 79, 130) 0%, rgb(25, 79, 130) 51%, rgb(22, 71, 117) 52%, rgb(22, 71, 117) 100%);
    padding: 8px 20px;
    bottom: 120px;
    border-radius: 40px;
    font-size: 1.4em;
    transition: .3s;
    animation: banner-register 4s linear;

}

.banner-register a{
    color: #fff;
}

.banner-register:hover{
    background: #ffc10d;
}

.banner-register:hover a{
    color: #fff;
}

.bubbles img{
    width: 50px;
    animation: bubble 4s linear infinite;
    opacity: 0;
}

.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

@keyframes banner-text-header {
    0%{
        transform: translateX(-200vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes banner-text-footer {
    0%{
        transform: translateX(-250vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes banner-image {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes banner-register {
    0%{
        transform: translateX(-300vh);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1){
    width: 35px;
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 35px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    width: 25px;
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    width: 35px;
    animation-delay: 7s;
}
.bubbles img:nth-child(8){
    animation-delay: 4s;
}
.bubbles img:nth-child(9){
    width: 30px;
    animation-delay: 5s;
}

.box-content2 {
    margin-top:5%;
}

.features{
    margin: 60px 0;
}

.features-item{
    text-align: center;
}

.features-item-image{
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    width: 140px;
    height: 150px;
    display: inline-block;
}

.features-item-image::before{
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: -1;
    left: -3%;
    top: -4%;
    opacity: 1;
    background-image: url("../imgs/icon-bg-1.webp");
}

.features-item-image::after{
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: -1;
    left: -3%;
    top: -4%;
    opacity: 0;
    transition: .3s;
    background-image: url("../imgs/icon-bg-1-hover.jpg");
}

.features-item-image img{
    width: 4em;
    height: 4em;
    line-height: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.features-item:hover .features-item-image::after{
    opacity: 1;
}

.features-item-title a{
    transition: .3s;
    color: #212558;
}

.features-item:hover .features-item-title a{
    color: #00b4da;
}

.blog-category{
    color: #212558;
    font-size: 2em;
    margin-bottom: 30px;
}

.post-image{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.post-image .mask{
    content: ' ';
    background-color: rgba(0,180,218,0.75);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s ease-in-out;

}

.post-image:hover .mask{
    opacity: 1;
    background-color: rgba(0,180,218,0.75);
}

.post-image .post-icons{
    position: absolute;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.post-image .post-icons span{
    background-color: #fff;
    position: absolute;
    z-index: 102;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transition: all ease .5s;
    opacity: 0;
}

.post-image:hover .post-icons span:first-child{
    margin-left: -13px;
    opacity: 1;
    display: inline-block;
}

.post-image:hover .post-icons span{
    opacity: 1;
    display: inline-block;
}

.post-image:hover .post-icons span:last-child{
    margin-left: 13px;
    opacity: 1;
    display: inline-block;
}

.post-title{
    margin: 15px 0 5px 0;
}

.post-title a{
    color: #212558;
    height: 20px;
    transition: .2s;
}

.post-title a:hover{
    color: #00b4da;
}

.post-meta{
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5em;
    color: #9c9ca6;
}

.post-meta .post-author:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 0.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.post-meta .post-date:after{
    content: "|";
    color: #9c9ca6;
    margin: 0 0.5em;
    display: inline;
    font-weight: 500;
    vertical-align: text-bottom;
}

.post-meta .post-meta-item a{
    cursor: pointer;
    transition: .2s;
}

.post-meta .post-author a{
    color: #00b4da;
}

.post-meta .post-author a:hover{
    color: #ffc10d!important;
}

.post-meta .post-meta-item a:hover{
    color: #00b4da!important;
}

.post-content{
    margin-top: 1em;
    color: #84848c;
}

.post-content-inner .text-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-click{
    color: #fff;
    font-size: 1em;
    background-color: #00b4da;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    transition: .2s;
    border-radius: 50px;
}

.more-click:hover{
    color: #fff;
    background-color: #ffc10d;
}

.swiper-container{
    width: 100%;
    height: auto;
}

.swiper-wrapper{
    height: auto!important;
}

.swiper-slide{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
